.Previous {
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 1em;
    text-align: left;
    width: 600px;
    align-items: center;
    vertical-align:middle;
    align-self: center;
    
  }
body{
    width: 50%;
    height: 250px;
    background-image: url(/src/images/bgg.PNG);
    background-size: cover;
    align-items: center;
    align-self: center;
    
    
    
}
#previous{
    padding: 3em;
    margin-top: 10em;
    margin-bottom: 5em;
    width: 600px;
    margin-left: 30em;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    
}
#form{
    vertical-align: middle;
    align-items:flex-start;
    align-self: flex-start;
    align-content: flex-start;
    padding: 2em;
    text-align: left;
}
#btn{
    background-color: #24a0ed;
    margin-top: 1em;
}
#username{
    margin-bottom: 1em;
}
#password, #title, #description{
    margin-bottom: 1em;
}

